@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .shite, .nav_bar, .brand, .Titlep, .photo, .test, .trol, .Par, .author, .test {
      width: 100%;
    }
  }
#test{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
    font-size: 50px;
    position: absolute;
    margin-top: 7%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#author{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
    position: absolute;
    margin-top: 5%;
    font-size: 30px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.shite, li, a, button{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
header{
    background-color: #272727cc;
    position: sticky;
    top: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    transition: all 0.3s ease 0s;
}
header:hover{
        background-color: rgba(39, 39, 39, 1);
}
.shite{
    cursor: pointer;
}
.nav_bar{
    list-style: none;
}
.nav_bar li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_bar li a{
    transition: all 0.3s ease 0s;
}
.nav_bar li a:hover{
    color: royalblue;
}
button{
    padding: 6px 25px;
    background-color: rgba(102, 102, 102, 0);
    border: solid;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}
button:hover{
    background-color: rgb(88, 133, 158);
}
.shite:hover{
    color: rgba (46, 167, 250, 0.8)
}
.brand{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    vertical-align: middle;
}
.Image--content{
    background-color: black;
    display: flex;
    flex: 1;
}
.Par{
margin: 2%;
}
.Titlep{
    background-color: black;
}
.cover{
background-color: black;
    max-width: 100%;
    height:  100vh; 
    opacity: 0.5;
    display: flex;
    flex: 1;

}
.read{
    margin-top: 10%;
}
.tittle_cont{
    margin:auto;
    display: flex;
    align-items: center;
}
.Foot_cover{
    background-color: rgb(37, 37, 37);
    padding: 2rem 0;
    display: flex;
    flex-direction:column ;
}
h6{
    color: white;
    font-family: 'Readex Pro', sans-serif;
    font-size: 15px;
}
h2{
    color: white;
    font-family: 'Readex Pro', sans-serif;
}
#Headline{
    color: rgb(255, 255, 255);
    font-family: 'Readex Pro', sans-serif;
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 10px;
    line-height: 42px;
    font-weight: 600;
}
#author--2{
    color: rgb(255, 255, 255);
    font-family: 'Readex Pro', sans-serif;
    margin-left: 15%;
}
.img_res1{
    max-width: 100%;
     height: 600px;
     margin-bottom: 0%;
    opacity: 0.4;
    display: flex;
    flex: 1;
}
.fi{
    font-family: 'Readex Pro', sans-serif;
    width: 800px;
    height: 600px;
    color: white;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 25%
}
#DC{
    font-family: 'Readex Pro', sans-serif;
    color: white;
    margin-left: 15%;
    margin-right: 25%
}
.reference--links{
    background-color: #3b6480;
    float: Right;
    width: 20%;
    padding: 15px;
    margin-top: 10%;
    margin-right: 15%;
    overflow: hidden;
}
.creator__image{
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    border-radius: 200px;
    position: absolute;
    top: 35%;
    left: 50%;
}
.Name{
    font-family: 'Readex Pro', sans-serif;
    position: absolute;
    color: white;
    position: absolute;
    top: 60%;
    left: 10%;

}
.backgroundcap{
    background-color: black;
    max-width: auto;
    height: 100vh;
    opacity: 0.5;
    display: flex;
    flex: 1;
}
#creator__image{
    background-color: #464646cc;
    width: 400px;
    height: 650px;
    position: absolute;
    top: 15%;
    left: 5%;
}
.btn{
    position: absolute;
    top: 80%;
    left: 35%;
}
.introduction{
    background-color: #464646cc;
    width: 1080px;
    height: 650px;
    position: absolute;
    top: 15%;
    left: 30%;
    list-style: none;
}
p{
    font-family: 'Readex Pro', sans-serif;
    color: white;
}
.intro{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
#test--2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
    font-size: 50px;
    position: absolute;
    margin-top: 7%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#author--3{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
    font-size: 25px;
    position: absolute;
    margin-top: 5%;
    font-size: 30px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}